<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  
  <h1>All Countries</h1>
  <% @countries.each do |country|%>
    <%= country.name %> - <%= country.code %><p>
  <% end %>

</body>
</html>