<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  
  <h1>All Countries</h1>
  <ul>
    <% @countries.each do |country|%>
      <p><li><%= country.name %> - <%= country.code %></li></p>
    <% end %>
  </ul>

</body>
</html>