<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
</head>
<body>
  <div class="row">
    
    <div class="col-md-3"></div>
    
    <div class="col-md-6">
      <h1>
      <%= @country.name %></h1>
      <p><% if @country.description %>
        <%= @country.description.html_safe %>
        <% else %>
          <p>The U.S. State Department does not have any current travel advisories for <%= @country.name %>.</p>
        <% end %></p>
    </div>
    
    <div class="col-md-3"></div>
  </div>
</body>
</html>
