/*// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/


.container-fluid.warning {
  padding: 20px 0px 40px 0px;
  background-color: #ED193E;
  /*background-color: #ff9e05;*/
}



.warning-alert {
  color: #ffffff ;
  display: block;
  text-align: center;
  margin: auto auto;
 /*   border: 1px;
    border-style: solid;
    border-color: #000;*/
}

#search {
  width: 50%;
  color: #000;
  padding: 10px 10px 10px 0;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  border: 0;
  background-color: transparent;
  outline: 0;
  display: inline-block;
  vertical-align: bottom;
}

.name {
  font-family: 'Open Sans';
}



.flag {
  padding-top: 40px;
  height: 4%;
}



.logo {
  width: 50%;
  height: 50%;
  padding: 60px 0 30px 0;
}

.map {
  width: 90%;
  height: 90%;
}

.col-xs-6 {
  /*border: 2px blue solid;*/
  width: 70%;
  display: inline-block;
}

.icon-links {
  /*border: 2px yellow solid;*/
  width: 15%;
  height: 100%;
  display: inline-block;
  float:left;
}



.container-fluid .all .col-xs-12 {
  padding-left: 0px;
  padding-right: 0px; 
}

.footer {
  width: 100%;
  padding: 0;
  margin: 0;
  left:0;
}

.title {
  font-family: "MillerDisplay Light";
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
}

.title2 {
  font-family: "MillerDisplay Light";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
}

.heading-bar {
  margin: 0px 0px 70px 0px;
  height: 7px;
  background-color: #ED193E;
}

.full {
  background-color: #333333;
  height: 500px;
}

div .block {
  background-color: blue;
}


.description {
  font-family: 'PT Serif';
  font-size: 16px;
  margin: 20px;
}

.main {
  /*background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #B2C4D4),
    color-stop(1, #FAFAFA)
  );
  background-image: -o-linear-gradient(bottom, #B2C4D4 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #B2C4D4 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #B2C4D4 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #B2C4D4 0%, #FAFAFA 100%);
  background-image: linear-gradient(to bottom, #B2C4D4 0%, #FAFAFA 100%);*/

  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #AEC5D9),
  color-stop(1, #FCFCFC)
);
background-image: -o-linear-gradient(bottom, #AEC5D9 0%, #FCFCFC 100%);
background-image: -moz-linear-gradient(bottom, #AEC5D9 0%, #FCFCFC 100%);
background-image: -webkit-linear-gradient(bottom, #AEC5D9 0%, #FCFCFC 100%);
background-image: -ms-linear-gradient(bottom, #AEC5D9 0%, #FCFCFC 100%);
background-image: linear-gradient(to bottom, #AEC5D9 0%, #FCFCFC 100%);

}

.nav-icon {
  padding: 10px 0px 10px 0px;
}
 .info-pane {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  overflow: scroll;
  z-index: 500;
  height: 100%;
 
  /*float: right;*/
 }

.icon-row {
  float: left;
  padding: 80px 50px 0 40px;
}

.fine {
  font-size: 10px;
  color: #888888;
}

.logo {
  margin-right: auto;
  margin-left: auto;
}

.country_heading {
  padding: 50px 0px 50px 0px;
}

.icon {
  padding: 0px 5px 0px 5px;
}

p {
  font-family: "Lato";
  font-size: 15px;
  line-height: 200%;
}

strong {
  font-family: "Lato";
  font-size: 15px;
  line-height: 200%;
  margin-bottom: 10px;
}

.flag {
   width: 100%;
  height: 300px;
  background-color: #CCC;
}

#map-canvas {
  width: 100%;
  height: 400px;
  background-color: #CCC;
}
