<footer>
  <p class="fine">
    This web site is in no way affiliated with the U.S. State Dept. 
    If you wish to have the most up to date <br>and accurate information please visit the official U.S. State Department website here.
  </p>
</footer>