<!DOCTYPE html>
<html>
<head>
  <title>Safe To Visit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <!-- ////////// FONTS CDN ////////// -->

  <link href="//cloud.webtype.com/css/7d63a2ad-40f5-4ad1-b029-0c4ed87ed3ba.css" rel="stylesheet" type="text/css" />

   <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

  <!-- ////////// BOOTSTRAP CDN ////////// -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../stylesheets/countries.scss" />

  <!-- ////////// GOOGLE MAPS SCRIPT ////////// -->
  
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  



</head>
<body>

<%= yield %>

</body>
</html>
